
html{
    width:100%;
    min-width:1000px;
    height:auto;
}
}



body{
    margin: 0;
    padding: 0;
}



.landing{
    background-image: url(./images/piz2.jpeg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    font-style: italic;
}
.gold{
    background-color: khaki;
    text-align: inherit;
}