
body{
    margin: 0;
    padding: 0;
}



.landing{
    background-image: url(./images/piz2.jpeg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    font-style: italic;
}
.gold{
    background-color: lightblue;
    text-align: inherit;
}

.jumbo{
    text-align: center;
    text-transform: capitalize;
    text-decoration-color: lightgreen;
}
.container{
    background-color: lightpink;
padding-block: 100px;
}
.final{
    text-decoration-color: lime;
}
.fixed-header{
    width: 100%;
        position: fixed;        
        background: #333;
        padding: 10px 0;
        color: #ff
}