
body{
   background-image: url(./images/pizbg.jpg);
   background-size: cover;
   background-attachment: fixed;
   
}
.content{
    text
}


.landing{

    text-align: center;
    background-repeat: no-repeat;
    background-color::backdrop
    background-size: cover;
    height: fit-content;
    font-styles
}

.jumbo{
    text-align: center;
    text-transform: capitalize;
    text-decoration-color: lightgreen;
}
.container{
padding-block: 100px;
}
.final{
    text-decoration-color: lime;
}
.row{
    margin-top: 0px;
}
.form.floating{
    width: 100%;
  padding: 6px 20px;
  margin: 5px 0;
}
.button{
 background-color: red;
  border: none;
  color: purple;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
}
.column{
    background: white;
}
.jumbo{
    background-image: url("bg.jpeg");
}
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    padding: 10px;
  }
  .parent{
      display:flex
  }